/* #Media Queries
================================================== */

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (min-width: 767px) {
		.img-hero {
			width: 55% !important;
		}
		.mfadt-box-hero-shadow {
			display: none;
		}
		.nav-logo-for-mobile {
			display: none !important;
		}
		/*nav start at bottom*/
		nav {
			bottom: 0;
		}
		.projectPersonPageContainer {
			padding: 2.5% 3%;
		}

		.student-info-text {
			width: 47%;
			margin-right: 3.25%;
		}

		.student-info-symposium {
			width: 14%;
			margin-right: 3.25%;
		}

		.student-info-social {
			width: 16%;
		}
		.studentContactInfo h5 {
			display: block;
		}

		.student-info-image {
			width: 15%;
		}

		#theImage {
			width: 130px;
			margin-top: -10px;
		}

		.project-info-text {
			width: 43%;
		}

		.project-info-image {
			width: 50%;
		}
	}


	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (max-width: 767px) {
		h3 {
			font-size: 1.5em !important;
		}

		nav {
			position: fixed !important;
			top:0 !important;
			bottom:none !important;
			left: 0 !important;
			right: 0 !important;
			z-index: 9 !important;
		}
		.nav-logo {
			display: none !important;
		}
		.hero-logo {
			display: none !important;
		}
		.nav-hamburger {
			display: block !important;
		}
		.menu-main-container ul > li {
			margin-right: 30px !important;
			display: block !important;
			text-transform: uppercase !important;
			font-weight: 600 !important;
		}
		/*#mfadt-hero {
			background: url(../img/hero/dt-mobile-box-hero-bg.png) !important;
			background-size: cover;
		}*/

		.projectPersonPageContainer {
			padding: 5%;
		}

		.student-info-text {
			width: 100%;
			margin-right: 0;
		}

		.student-info-symposium {
			margin-bottom: 20px;
		}

		.student-info-social, .student-info-symposium {
			width: 100%;
		}

		.social-icons, .date-time {
			margin-top: 0 !important;
		}

		.student-info-image {
			width: 100%;
		}

		#theImage {
			width: 100%;
			margin-top: 0px;
		}

		.project-info-text, .project-info-image {
			width: 100%;
		}

	}

/* #Font-Face
================================================== */
/* 	This is the proper syntax for an @font-face file
		Just create a "fonts" folder at the root,
		copy your FontName into code below and remove
		comment brackets */

/*	@font-face {
	    font-family: 'FontName';
	    src: url('../fonts/FontName.eot');
	    src: url('../fonts/FontName.eot?iefix') format('eot'),
	         url('../fonts/FontName.woff') format('woff'),
	         url('../fonts/FontName.ttf') format('truetype'),
	         url('../fonts/FontName.svg#webfontZam02nTh') format('svg');
	    font-weight: normal;
	    font-style: normal; }
*/