/* #Media Queries
================================================== */

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (min-width: 767px) {
		.nav-logo-for-mobile {
			display: none !important;
		}
		/*nav start at bottom*/
		nav {
			bottom: 0;
		}
	}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (max-width: 767px) {
		nav {
			position: fixed !important;
			top:0 !important;
			bottom:none !important;
			left: 0 !important;
			right: 0 !important;
			z-index: 9 !important;
		}
		.nav-logo {
			display: none !important;
		}
		.hero-logo {
			display: none !important;
		}
		.nav-hamburger {
			display: block !important;
		}
		.menu-main-container ul > li {
			margin-right: 30px !important;
			display: block !important;
			text-transform: uppercase !important;
			font-weight: 600 !important;
		}
	}

/* #Font-Face
================================================== */
/* 	This is the proper syntax for an @font-face file
		Just create a "fonts" folder at the root,
		copy your FontName into code below and remove
		comment brackets */

/*	@font-face {
	    font-family: 'FontName';
	    src: url('../fonts/FontName.eot');
	    src: url('../fonts/FontName.eot?iefix') format('eot'),
	         url('../fonts/FontName.woff') format('woff'),
	         url('../fonts/FontName.ttf') format('truetype'),
	         url('../fonts/FontName.svg#webfontZam02nTh') format('svg');
	    font-weight: normal;
	    font-style: normal; }
*/