/*mfadt style*/
body {
	overflow-x: hidden;
-webkit-transition: all 100ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
   -moz-transition: all 100ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
     -o-transition: all 100ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
	transition: 0.1s;
        transition: all 100ms cubic-bezier(0.175, 0.885, 0.320, 1.275); /* easeOutBack */

-webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1); /* older webkit */
-webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.275);
   -moz-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.275);
     -o-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.275);
        transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.275); /* easeOutBack */
	/*background: #bfbfbf;*/
	-webkit-transition: all 100ms cubic-bezier(0.175, 0.885, 0.320, 1); /* older webkit */

}

/* –––––––––––––––––––––––––––– NAV –––––––––––––––––––––––––––––*/
/*RESPONSIVE*/
nav {
	padding-top: 13px;
	background: rgb(255,255,255);
	box-shadow: 0px 0px 4px #333;
	position: fixed;
	width: 100%;
	z-index: 9;
}

.nav-hamburger {
	display: none;
	width: 28px;
	float: right;
}

.nav-logo:hover, .nav-logo-for-mobile:hover {
	opacity: 0.8;
	filter: alpha(opacity=80);
	-webkit-transition: opacity 0.4s;
	transition: opacity 0.4s;
}

.nav-logo, .nav-logo-for-mobile {
	float: left;
	height: 30px;
	margin: 0px 24px 8px 10px;
	opacity: 1;
	filter: alpha(opacity=100);
	-webkit-transition: opacity 0.4s;
	transition: opacity 0.4s;
}

ul#menu-main {
	margin-bottom: 0px !important;
}
.menu-main-container {
	padding-top: 4px;
	float: left;
/*	top: 0;
	left: 30%;*/
}

.menu-main-container ul > li {
	display: inline-block;
	margin-right: 30px;
	font-weight: 600;
}

form {
	margin-bottom: 0px !important;
}

form div label {
	display: none;
}

.searchform {
	float: right; /*for now*/
}

/* --------––––––------- HERO --–––––------------------*/

#flat-shader {
	width: 100%;
	height: 100%;
	position:absolute;
	top:0; left:0;
}

.img-hero {
	position: relative;
	max-width:100% !important;
	margin-bottom: 30px !important;
	padding: 0 3em;
}

#mfadt-hero {
	position: absolute;
	width: 100%;
	top:0;
	z-index: 1;
	height: 100%;
	background: url(../img/hero/dt-mobile-box-hero-bg.png);
	background-size: cover;
}

#mfadt-hero .container {
	height: 100%;
}

.hero-detail {
	margin-top: 50px !important;
}

.mfadt-box-hero {
	height: 100%;
}

.mfadt-box-hero h2, .mfadt-box-hero h4 {
	color: #fff;
}

.mfadt-box-hero h2 {
	font-family: 'Exo 2', sans-serif;

}

.mfadt-box-hero-shadow {
	display: none;
	height: 4px;
	border-radius: 85% 10%;
	box-shadow: 0 -30px 26px black;
	width: 50%;
	margin: 100px auto 15px auto;
}

svg {
	background: #fff;
}

.below-hero {
	position: absolute;
	width: 100%;
	top:100%;
	z-index: 1;
}

/* --------––––––------- INFO --–––––------------------*/

.noBottom {
	border: none !important;
}

#mfadt-info-container {
	background-color: #202c33;
	box-shadow: 0px 1px 2px #b2b2b2;
}

#mfadt-info {
	padding: 40px 0px;
}

#mfadt-info > * {
	color: #ffffff !important;
}

#mfadt-info h3.text {
	font-weight: 400;
	margin-bottom: 15px;
	font-family: 'Exo 2', sans-serif;
}

.below-hero-content h6 {
	margin: 0px 0px 10px 0px;
	padding: 10px 0px 3px 0px;
	border-bottom: 2px solid #fff;
	color: #fff;
	text-transform: uppercase;
	font-weight: 900;
}

/* --------––––––------- CATEGORIES --–––––------------------*/


.categories-container {
	
	margin: 0 auto;
	padding: 40px 0;
	
}

.categories-container li {
	list-style-type: none;
	
}

.categories-list {
	padding-left: 30%;
	-webkit-columns: 2;
	height: 100px;
}

.categories-container li {
	margin-bottom: 4px;
	/*padding-left: 60%;*/
}

/* --------––––––------- PROJECT --–––––------------------*/
#project {
	margin-top: 30px;
}

.masonry {
    width: 268px;
    text-align: center;
    background-color: #fff;
    padding: 15px 0 0 0;
		margin-bottom: 30px;
}

/* --------––––––------- PROJ DETAIL --–––––------------------*/

.container-page {
	margin-bottom: 50px;	
	background: #fff;
	padding: 2.5% 3%;
}


.projectPersonPageContainer {
	margin-bottom: 50px;	
	background: #fff;
}

.projectPersonPageContainer h5 {
	font-weight: 900;
	line-height: 34px;
}

.student {
	border-bottom: 1px solid #969696;
	margin-bottom: 2%;
}

.student-info-text, .student-info-social, .student-info-symposium {
	float: left;
}

.student-info-image {
	float: right;
}

.studentInfoHolder{
	height: 180px;
	margin-top: 20px;
}

.studentBio{
	display: inline-block;
	vertical-align:text-top;
}


img.headshotRegular{
	display: inline-block;
	float: right;
	height:100%;
	vertical-align:text-top;
}

.theImage{
    padding:0;
    margin:0;
    display: inline-block;
	float: right;
	vertical-align:text-top;
}

	
p.facultyNames{
	margin:0px;
}

.js-desc-fixed {
	position: fixed;
	top: 80px;
}


/*Project Listing Page*/

.project-info-text {
	height: auto;
	float: left; 
	display: inline;
}

.social-icons, .date-time {
	margin-top: 20px;
}

.social-icons .fa {
	font-size: 1.5em;
	padding-right: 5%;
}

.project-info-text a {
	color: #7c24f5;
}

.project-info-text h3 {
	font-family: 'Roboto Slab', serif;
	font-weight: 900;
}

.project-info-text h4 {
	font-family: 'Lato', sans-serif;
	font-weight: 900;
	margin: 15px 0 20px;
}	


.project-info-text .project-meta {
	font-size: 12px;
	line-height: 16px;
}

.project-info-text .project-meta p {
	font-family: 'Roboto Slab', serif;
	text-transform: uppercase;
}

.project-info-image {
	margin-top: 10px;
	height: auto !important;
	float: right; 
	display: inline;
}

.project-info-image img {
	width: 100%;
	margin-bottom: 25px;
}

.project-info-image img:last-of-type {
	margin-bottom: 0;
}

.project-info-image iframe {
	margin-top: 25px;
}

.project-info-image iframe:first-of-type {
	margin-top: 0;
}

img.projectThumb, img.studentPortraitThumb{
	width: 268px;
	margin: 15px 0 0 0;
	box-shadow: 1px 2px 10px #bab8b8;
	opacity: 1;
	filter: alpha(opacity=100);
	-webkit-transition: opacity 0.4s;
	transition: opacity 0.4s;
}

img.projectThumb:hover, img.studentPortraitThumb:hover {
	opacity: 0.8;
	filter: alpha(opacity=80);
	-webkit-transition: opacity 0.4s;
	transition: opacity 0.4s;
}

div.longTitleImageCropped{
padding-top: 5px;
height: 250px;
overflow: hidden;
box-shadow: 1px 2px 10px #bab8b8;
margin-top: 15px;

}

div.longTitleImageCropped img{
	margin-top: -5px;
}

/* --------––––––------- FOOTER --–––––------------------*/
#footer-background {
	padding-top: 15px;
	background: url(../img/hero/dt-box-footer-bg.jpg);
	/*background-color: #202c33;*/
}

footer, footer a {
	font-family: 'Roboto Slab', sans-serif;
	color: #fff;
	font-size: 0.9em;
	line-height: 1.15em;
}

footer a:hover {
	font-weight: 500;
	color: #fff;
}

footer h5 {
	font-size: 1em;
	font-weight: 700;
	font-style: italic;
	margin-bottom: 10px;
}

footer h3, footer h5, footer h6 {
	color: #fff;
}

footer h6 {
	margin: 0px 0px 20px 0px;
	padding: 10px 0px 3px 0px;
	border-bottom: 1px solid #fff;
	text-transform: uppercase;
	font-weight: 700;
}

/* --------––––––------- MISC --–––––------------------*/
.in-between {
	margin-top: 72px;
}

.single .in-between, .page .in-between {
	margin-top: 60px;
}

.map-data {
	display: none;
}

/*SEARCH BAR*/
#searchsubmit {
	display: none;
}

#s {
	padding-left: 30px;
	background: url(../img/nav/search-128.png) no-repeat !important;
	background-size: contain !important;
	/*transition: 0s;*/
	width: 140px;
}

form::-webkit-input-placeholder {
    color: #7a7a7a;
}

.placeWhite::-webkit-input-placeholder {
    color: #fff;
}
