/*mfadt style*/
body {
	overflow-x: hidden;
-webkit-transition: all 100ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
   -moz-transition: all 100ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
     -o-transition: all 100ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
	transition: 0.1s;
        transition: all 100ms cubic-bezier(0.175, 0.885, 0.320, 1.275); /* easeOutBack */

-webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1); /* older webkit */
-webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.275);
   -moz-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.275);
     -o-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.275);
        transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.275); /* easeOutBack */
	/*background: #bfbfbf;*/
	-webkit-transition: all 100ms cubic-bezier(0.175, 0.885, 0.320, 1); /* older webkit */

}

/* –––––––––––––––––––––––––––– NAV –––––––––––––––––––––––––––––*/
/*RESPONSIVE*/
nav {
	padding-top: 12px;
	background: rgba(255,255,255,0.95);
	border-bottom: 1px solid #969696;
	position: fixed;
	width: 100%;
	z-index: 9;
}

.nav-hamburger {
	display: none;
	width: 28px;
	float: right;
}

.nav-logo, .nav-logo-for-mobile {
	float: left;
	height: 28px;
	margin: 0px 24px 8px 0px;
}

ul#menu-main {
	margin-bottom: 0px !important;
}

.menu-main-container {
	padding-top: 4px;
	float: left;
}

.menu-main-container ul > li {
	display: inline-block;
	margin-right: 30px;
	text-transform: uppercase;
	font-weight: 600;
}

form {
	margin-bottom: 0px !important;
}

form div label {
	display: none;
}

.searchform {
	float: right; /*for now*/
}

/* --------––––––------- HERO --–––––------------------*/

#mfadt-hero {
	position: absolute;
	width: 100%;
	top:0;
	z-index: 1;
	height: 100%;
	background: #cea4ce;
}

svg {
	background: #cecece;
}

.below-hero {
	position: absolute;
	width: 100%;
	top:100%;
	z-index: 1;
}

/* --------––––––------- INFO --–––––------------------*/

.noBottom {
	border: none !important;
}

#mfadt-info-container {
	background: url(../img/hero/dt-info.jpg);
	/*background-size: cover;*/
	background-position: center;
	box-shadow: 0px 1px 2px #b2b2b2;
}

#mfadt-info {
	padding: 15px 0px 30px 0px;
}

#mfadt-info > * {
	color: #ffffff !important;
}

.below-hero-content h6 {
	margin: 0px 0px 10px 0px;
	padding: 10px 0px 3px 0px;
	border-bottom: 2px solid #fff;
	color: #fff;
	text-transform: uppercase;
	font-weight: 900;
}

/* --------––––––------- PROJECT --–––––------------------*/
#project {
	margin-top: 30px;
}

.masonry {
    width: 268px;
    text-align: center;
    background-color: #fff;
    padding: 15px 0 0 0;
		margin-bottom: 30px;
}

/* --------––––––------- PROJ DETAIL --–––––------------------*/

.studentInfoHolder{
	height: 150px;
}

.studentBio{
	display: inline-block;
	width: 60%;
	vertical-align:text-top;
}

div.studentContactInfo{
	display: inline-block;
	overflow: hidden;
	margin: 0 30px 0 80px;
	width: 46px;
	vertical-align:text-top;
/* 	float: right; */

}
img.headshotRegular{
	display: inline-block;
	float: right;
	height:100%;
	vertical-align:text-top;
}

.personalWebsiteLink{
	margin-bottom: 2px;
	width: 46px;
	height: 46px;
	background-image: url(../img/icons/personalIcon.png);
	background-size: contain;
	-webkit-transition: background-image .95s ease-in-out;
	-moz-transition: background-image .95s ease-in-out;
	-o-transition: background-image .95s ease-in-out;
	transition: background-image .95s ease-in-out;
}

.personalWebsiteLink:hover{
	background-image: url(../img/icons/personalIconHover.png);
}

.linkedInLink{
	margin-bottom: 2px;
	width: 46px;
	height: 46px;
	background-image: url(../img/icons/linkedInIcon.png);
	background-size: contain;
	-webkit-transition: background-image .95s ease-in-out;
	-moz-transition: background-image .95s ease-in-out;
	-o-transition: background-image .95s ease-in-out;
	transition: background-image .95s ease-in-out;
}

.linkedInLink:hover{
	background-image: url(../img/icons/linkedInIconHover.png);
}

.twitterLink{
	width: 46px;
	height: 46px;
	background-image: url(../img/icons/twitterIcon.png);
	background-size: contain;
	-webkit-transition: background-image .95s ease-in-out;
	-moz-transition: background-image .95s ease-in-out;
	-o-transition: background-image .95s ease-in-out;
	transition: background-image .95s ease-in-out;
}

.twitterLink:hover{
	background-image: url(../img/icons/twitterIconHover.png);
}
p.facultyNames{
	margin:0px;
}


/*Project Listing Page*/

img.projectThumb{
	width: 268px;
	margin: 15px 0 0 0;
	box-shadow: 1px 2px 10px #bab8b8;
}

/* --------––––––------- FOOTER --–––––------------------*/
#footer-background {
	background: url(../img/hero/dt-footer.png);
}

footer, footer a {
	color: #fff;
	margin: 60px 0px 60px 0px;
	padding: 10px 0px 0px 0px;
	color: #fff;
}

footer h3, footer h5, footer h6 {
	color: #fff;
}

footer h6 {
	margin: 0px 0px 10px 0px;
	padding: 10px 0px 3px 0px;
	border-bottom: 2px solid #fff;
	text-transform: uppercase;
	font-weight: 700;
}

/* --------––––––------- MISC --–––––------------------*/
.in-between {
	margin-top: 72px;
}

/*SEARCH BAR*/
#searchsubmit {
	display: none;
}

#s {
	padding-left: 30px;
	background: url(../img/nav/search-128.png) no-repeat !important;
	background-size: contain !important;
	transition: 0s;
}

form::-webkit-input-placeholder {
    color: #7a7a7a;
}

.placeWhite::-webkit-input-placeholder {
    color: #fff;
}
