/*mfadt style*/
body {
	overflow-x: hidden;
	-webkit-transition: all 100ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
   	-moz-transition: all 100ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
    -o-transition: all 100ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
    transition: all 100ms cubic-bezier(0.175, 0.885, 0.320, 1.275); /* easeOutBack */
	-webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1); /* older webkit */
	-webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.275);
   	-moz-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.275);
    -o-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.275);
    transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.275); /* easeOutBack */
	-webkit-transition: all 100ms cubic-bezier(0.175, 0.885, 0.320, 1); /* older webkit */
}

/* –––––––––––––––––––––––––––– NAV –––––––––––––––––––––––––––––*/
/*RESPONSIVE*/
nav {
	padding-top: 13px;
	background: rgb(255,255,255);
	box-shadow: 0px 0px 4px #333;
	position: fixed;
	width: 100%;
	z-index: 9;
}

.nav-hamburger {
	display: none;
	width: 28px;
	float: right;
}

.nav-logo:hover, .nav-logo-for-mobile:hover {
	opacity: 0.8;
	filter: alpha(opacity=80);
	-webkit-transition: opacity 0.4s;
	transition: opacity 0.4s;
}

.nav-logo, .nav-logo-for-mobile {
	float: left;
	height: 30px;
	margin: 0px 24px 8px 10px;
	opacity: 1;
	filter: alpha(opacity=100);
	-webkit-transition: opacity 0.4s;
	transition: opacity 0.4s;
}

ul#menu-main {
	margin-bottom: 0px !important;
}

ul#menu-main li a {
	font-weight: 400;
	color: #262626;
}

.menu-selected {
	font-weight: 900 !important;
	color: #000 !important;
}

.menu-main-container {
	padding-top: 4px;
	float: left;
}

.menu-main-container ul > li {
	display: inline-block;
	margin-left: 25px;
	margin-right: 25px;
	font-weight: 600;
	text-transform: uppercase;
}

.menu-main-container ul > li:nth-last-child(1) {
	margin-right: 0px;
}

form {
	margin-bottom: 0px !important;
}

form div label {
	display: none;
}

.searchform {
	float: right; /*for now*/
}

/* --------––––––------- HERO --–––––------------------*/

#flat-shader {
	width: 100%;
	height: 100%;
	position:absolute;
	top:0; left:0;
}

.img-hero-container {
	text-align: center;
}

.img-hero {
	width: 90% !important;
	height: 100%;
}

#mfadt-hero {
	position: absolute;
	width: 100%;
	top:0;
	z-index: 1;
	height: 100%;
	background: url(../img/hero/bg.jpg);
	background-size: cover;
}

#mfadt-hero .container {
	height: 100%;
}

.verticalCenter {
	position: relative;
	top: 40%;
	-webkit-transform: translateY(-50%);
  	-ms-transform: translateY(-50%);
  	transform: translateY(-50%);
}

.mfadt-box-hero {
	height: 100%;
}

.mfadt-box-hero h2, .mfadt-box-hero h4 {
	color: #fff;
}

.mfadt-box-hero h2 {
	font-family: 'Exo 2', sans-serif;

}
.below-hero {
	position: absolute;
	width: 100%;
	top:100%;
	z-index: 1;
}

/* --------––––––------- INFO --–––––------------------*/

.noBottom {
	border: none !important;
}

#mfadt-info-container {
	background-color: #202c33;
	box-shadow: 0px 1px 2px #b2b2b2;
}

#mfadt-info {
	padding: 40px 0px;
}

#mfadt-info > * {
	color: #ffffff !important;
}

#mfadt-info h3.text {
	font-weight: 400;
	margin-bottom: 15px;
	font-family: 'Exo 2', sans-serif;
}

.below-hero-content h6 {
	margin: 0px 0px 10px 0px;
	padding: 10px 0px 3px 0px;
	border-bottom: 2px solid #fff;
	color: #fff;
	text-transform: uppercase;
	font-weight: 900;
}



/* --------––––––------- CATEGORIES --–––––------------------*/


.categories-container {
	margin: 0 auto;
	padding: 30px 0;
}

.categories-container li {
	list-style-type: none;
	
}

.categories-list {
}

.categories-container li {
	transition: 0.2s;
	display: inline-block;
	padding: 15px 20px 15px 20px;
	margin: 0px 10px 10px 0px;
	line-height: 1em;
	font-size: 1.2em;
	text-transform: uppercase;
	font-family: 'Exo 2', sans-serif;
	/*background: #fff;*/
}

/* --------––––––------- PROJECT --–––––------------------*/
#project {
	margin-top: 30px;
}

.masonry {
    width: 268px;
    text-align: center;
    background-color: #fff;
    padding: 15px 0 0 0;
		margin-bottom: 30px;
}

/* --------––––––------- PROJ DETAIL --–––––------------------*/

.container-page {
	margin-bottom: 50px;	
	background: #fff;
	padding: 2.5% 3%;
}

.projectPersonPageContainer {
	margin-bottom: 50px;	
	background: #fff;
}

.projectPersonPageContainer h5 {
	font-weight: 900;
	line-height: 34px;
}

.student {
	border-bottom: 1px solid #969696;
	margin-bottom: 2%;
}

.student-info-text, .student-info-social, .student-info-symposium {
	float: left;
}

.student-info-image {
	float: right;
}

.studentInfoHolder{
	height: 180px;
	margin-top: 20px;
}

.studentBio{
	display: inline-block;
	vertical-align:text-top;
}


img.headshotRegular{
	display: inline-block;
	float: right;
	height:100%;
	vertical-align:text-top;
}

.theImage{
    padding:0;
    margin:0;
    display: inline-block;
	float: right;
	vertical-align:text-top;
}

	
p.facultyNames{
	margin:0px;
}

.facultyNamesContainer {
	-webkit-columns: 2;
	height: 100px;
}

.js-desc-fixed {
	position: fixed;
	top: 80px;
}


/*Project Listing Page*/

.project-info-text {
	height: auto;
	float: left; 
	display: inline;
}

.fa-external-link {
	padding-left: 10px;
	font-size: 24px;
}

.social-icons, .date-time {
	margin-top: 20px;
}

.social-icons .fa {
	font-size: 1.5em;
	padding-right: 5%;
}

.project-info-text a, .project-info-text a:visited, .social-icons a, .social-icons a:visited  {
	color: #f72378; 
	-webkit-transition-property:color, text;
	-webkit-transition-duration: 0.4s;
	transition: color 0.4s;
	-o-transition:color 0.4s;
}

.project-info-text a:hover, .project-info-text a:focus, .social-icons a:hover, .social-icons a:focus {
	color: #000;
	-webkit-transition-property:color, text;
	-webkit-transition-duration: 0.4s;
	transition: color 0.4s;
	-o-transition:color 0.4s;
}

.project-info-text h3 {
	font-family: 'Exo 2', serif;
	font-weight: 900;
}

.project-info-text h4 {
	font-family: 'Lato', sans-serif;
	font-weight: 900;
	margin: 15px 0 20px;
}	


.project-info-text .project-meta {
	font-size: 12px;
	line-height: 16px;
}

.project-info-text .project-meta p {
	font-family: 'Exo 2', serif;
	text-transform: uppercase;
}

.project-info-image {
	margin-top: 10px;
	height: auto !important;
	float: right; 
	display: inline;
}

.project-info-image img {
	width: 100%;
	margin-bottom: 25px;
}

.project-info-image img:last-of-type {
	margin-bottom: 0;
}

.project-info-image iframe {
	margin-top: 25px;
}

.project-info-image iframe:first-of-type {
	margin-top: 0;
}

img.projectThumb, img.studentPortraitThumb{
	width: 268px;
	margin: 15px 0 0 0;
	box-shadow: 1px 2px 10px #bab8b8;
	opacity: 1;
	filter: alpha(opacity=100);
	-webkit-transition: opacity 0.4s;
	transition: opacity 0.4s;
}

img.projectThumb:hover, img.studentPortraitThumb:hover {
	opacity: 0.8;
	filter: alpha(opacity=80);
	-webkit-transition: opacity 0.4s;
	transition: opacity 0.4s;
}

div.longTitleImageCropped{
	padding-top: 5px;
	height: 253px;
	overflow: hidden;
	box-shadow: 1px 2px 10px #bab8b8;
	margin-top: 15px;
}

div.longTitleImageCropped img{
	margin-top: -5px;
}

/* --------––––––------- FACULTY --e–––––------------------*/
.faculty-thumbnail {
	overflow: hidden;
}

.faculty-thumbnail > img {
	width: 100%;
	height: auto;
}

/* --------––––––------- FOOTER --–––––------------------*/
#footer-background {
	padding-top: 15px;
	background: url(../img/hero/dt-box-footer-bg.jpg);
	/*background-color: #202c33;*/
}

footer, footer a, footer a:visited, footer a:focus{
	font-family: 'Exo 2', sans-serif;
	color: #fff;
	font-size: 0.98em;
	line-height: 1.35em;
	opacity: 1;
	filter: alpha(opacity=100);
	-webkit-transition: opacity 0.4s;
	transition: opacity 0.4s;
}

footer a:hover{
	color: #fff;
	opacity: 0.8;
	filter: alpha(opacity=80);
	-webkit-transition: opacity 0.4s;
	transition: opacity 0.4s;
}

footer h5 {
	font-size: 0.8em;
	font-weight: 900;
	/*font-style: italic;*/
	margin-bottom: 0px;
}

footer h3 {
	margin: 0px;
}

footer h3, footer h5, footer h6 {
	color: #fff;
}

footer h6 {
	margin: 0px 0px 7px 0px;
	padding: 10px 0px 3px 0px;
	border-bottom: 1px solid #fff;
	text-transform: uppercase;
	font-weight: 700;
}

/* --------––––––------- MISC --–––––------------------*/
.gm-style-iw {
	color: #000;
}

.in-between {
	margin-top: 72px;
}

.single .in-between, .page .in-between {
	margin-top: 60px;
}

.map-data {
	display: none;
}

/*SEARCH BAR*/
#searchsubmit {
	display: none;
}

#s {
	padding-left: 30px;
	background: url(../img/nav/search-128.png) no-repeat !important;
	background-size: contain !important;
	/*transition: 0s;*/
	width: 135px;
}

form::-webkit-input-placeholder {
    color: #7a7a7a;
}

.placeWhite::-webkit-input-placeholder {
    color: #fff;
}
/* --------––––––------- SYPOSIUM --–––––------------------*/


@media screen and (-webkit-min-device-pixel-ratio:0) {

div.eight.columns.below-hero-content.friday {
	float: left;
	padding-left: 7%;
	}

	div.eight.columns.below-hero-content.saturday {
	float: right;
	padding-left: 7%;
	}

	div.four.columns.below-hero-content.panels {
	padding: 30px;
	}
}

@-moz-document url-prefix() {
	#s {
		width: 100px;
	}
    div.wtf-mozilla {
	padding: 30px;
	}
	div.six.columns.below-hero-content.panels {
		margin-left: 55px;
	}
}

div.four.columns.below-hero-content.panels {
	font-size: 0.9em;
	line-height: 1.5em;
	height: 275px;
	background: #ffffff;
	box-shadow: 3px 3px 5px #888888;
	margin-bottom: 30px;
}
div.six.columns.below-hero-content.panels {
	background: white;
	padding: 20px;
	box-shadow: 3px 3px 5px #888888;
	margin-bottom: 30px;
}
.symposium-students {
	float: left;
	width: 70%;
	text-align: left;
	line-height: 1.38em;
	font-size: 0.9em;
	padding-bottom: 10px;
}
.symposium-hours {
	float: right;
	text-align: right;
	width: 30%;
	font-size: 0.8em;
	line-height: 1.5em;
	display: none;
	color: #a8a8a8;
}
.symposium-feedback-break {
	float: left;
	width: 70%;
	padding: 10px 0 10px 0;
	line-height: 1.25em;
	font-size: 0.9em;
/*	display: none;*/
}
.symposium-feedback-break-hours {
	float: right;
	width: 30%;
	text-align: right;
	padding: 10px 0 10px 0;
	font-size: 0.8em;
	display: none;
}
.symposium-welcome {
	float: left;
	width: 55%;
	line-height: 1.5em;
}
.symposium-welcome-hours {
	float: right;
	width: 30%;
	text-align: right;
	font-size: 0.8em;
	line-height: 1.75em;
}
.symposium-panel-title {
	float: left;
	width: 50%;
	padding: 10px 0 0 0;
	text-transform: uppercase;
}
.symposium-panel-title p {
	margin: 0;
}
.symposium-panel-title-hours {
	float: right;
	width: 50%;
	text-align: right;
	padding: 12px 0 0 0;
	font-size: 0.8em;
}
p.symposium-title {
	font-family: 'Exo 2';
	font-size: 2em;
	color: #4c4c4c;
	text-transform: uppercase;
	padding-top: 20px;
}
.symposium-saturday {
	font-size: 1.10em;
	color: #4c4c4c;
}
.symposium-panels-titles {
	text-transform: uppercase;
	font-size: 0.75em;
}
.symposium-panel-title-experiential {
	color: #57e0fa;
	text-transform: uppercase;
	font-size: 0.75em;
}
.symposium-panel-title-storytelling{
	color: #a954fa;
	text-transform: uppercase;
	font-size: 0.75em;
}
.symposium-panel-title-really-big-data {
	color: #ff2bc1;
	text-transform: uppercase;
	font-size: 0.75em;
}
.symposium-panel-title-play {
	color: #2bff3f;
	text-transform: uppercase;
	font-size: 0.75em;
}
.symposium-panel-title-education {
	color: #f6d311;
	text-transform: uppercase;
	font-size: 0.75em;
}
.symposium-panel-title-critical-speculative {
	color: #f67d11;
	text-transform: uppercase;
	font-size: 0.75em;
}
.symposium-panel-title-information-instruments {
	color: #ff0837;
	text-transform: uppercase;
	font-size: 0.75em;
}
.symposium-panel-title-social {
	color: #4570f9;
	text-transform: uppercase;
	font-size: 0.75em;
}

/*404*/
.search-nope {
	text-align:center;
}

.search-nope img {
	width: 90% !important;
	max-width: 500px
}

.search-nope h2 {
	margin-bottom: 50px !important;
	font-weight: 900;
}
