<?xml version="1.0" encoding="UTF-8"?>
<types>
    <types>
        <type>
            <wpcf-post-type>faculty</wpcf-post-type>
            <labels>
                <name>Faculties</name>
                <singular_name>Faculty</singular_name>
                <add_new>Add New</add_new>
                <add_new_item>Add New %s</add_new_item>
                <edit_item>Edit %s</edit_item>
                <new_item>New %s</new_item>
                <view_item>View %s</view_item>
                <search_items>Search %s</search_items>
                <not_found>No %s found</not_found>
                <not_found_in_trash>No %s found in Trash</not_found_in_trash>
                <parent_item_colon>Parent %s</parent_item_colon>
                <all_items>%s</all_items>
            </labels>
            <slug>faculty</slug>
            <description></description>
            <public>public</public>
            <menu_position></menu_position>
            <menu_icon></menu_icon>
            <taxonomies>
                <category>1</category>
            </taxonomies>
            <supports>
                <title>1</title>
                <editor>1</editor>
            </supports>
            <rewrite>
                <enabled>1</enabled>
                <custom>normal</custom>
                <slug></slug>
                <with_front>1</with_front>
                <feeds>1</feeds>
                <pages>1</pages>
            </rewrite>
            <has_archive>1</has_archive>
            <show_in_menu>1</show_in_menu>
            <show_in_menu_page></show_in_menu_page>
            <show_ui>1</show_ui>
            <publicly_queryable>1</publicly_queryable>
            <can_export>1</can_export>
            <show_in_nav_menus>1</show_in_nav_menus>
            <query_var_enabled>1</query_var_enabled>
            <query_var></query_var>
            <permalink_epmask>EP_PERMALINK</permalink_epmask>
            <id>faculty</id>
            <__types_id>faculty</__types_id>
            <__types_title>Faculties</__types_title>
            <hash>738cec2657c7bbc2409326a541375a6f</hash>
            <checksum>738cec2657c7bbc2409326a541375a6f</checksum>
        </type>
        <type>
            <wpcf-post-type>student</wpcf-post-type>
            <labels>
                <name>Students</name>
                <singular_name>Student</singular_name>
                <add_new>Add New</add_new>
                <add_new_item>Add New %s</add_new_item>
                <edit_item>Edit %s</edit_item>
                <new_item>New %s</new_item>
                <view_item>View %s</view_item>
                <search_items>Search %s</search_items>
                <not_found>No %s found</not_found>
                <not_found_in_trash>No %s found in Trash</not_found_in_trash>
                <parent_item_colon>Parent %s</parent_item_colon>
                <all_items>%s</all_items>
            </labels>
            <slug>student</slug>
            <description></description>
            <public>public</public>
            <menu_position></menu_position>
            <menu_icon></menu_icon>
            <supports>
                <title>1</title>
                <editor>1</editor>
            </supports>
            <rewrite>
                <enabled>1</enabled>
                <custom>normal</custom>
                <slug></slug>
                <with_front>1</with_front>
                <feeds>1</feeds>
                <pages>1</pages>
            </rewrite>
            <has_archive>1</has_archive>
            <show_in_menu>1</show_in_menu>
            <show_in_menu_page></show_in_menu_page>
            <show_ui>1</show_ui>
            <publicly_queryable>1</publicly_queryable>
            <can_export>1</can_export>
            <show_in_nav_menus>1</show_in_nav_menus>
            <query_var_enabled>1</query_var_enabled>
            <query_var></query_var>
            <permalink_epmask>EP_PERMALINK</permalink_epmask>
            <id>student</id>
            <__types_id>student</__types_id>
            <__types_title>Students</__types_title>
            <hash>d698794661d180d6e7d71c0c6284e4be</hash>
            <checksum>d698794661d180d6e7d71c0c6284e4be</checksum>
        </type>
        <type>
            <labels>
                <name>Projects</name>
                <singular_name>Project</singular_name>
                <add_new>Add New</add_new>
                <add_new_item>Add New %s</add_new_item>
                <edit_item>Edit %s</edit_item>
                <new_item>New %s</new_item>
                <view_item>View %s</view_item>
                <search_items>Search %s</search_items>
                <not_found>No %s found</not_found>
                <not_found_in_trash>No %s found in Trash</not_found_in_trash>
                <parent_item_colon>Parent %s</parent_item_colon>
                <all_items>%s</all_items>
            </labels>
            <slug>project</slug>
            <description></description>
            <public>public</public>
            <menu_position></menu_position>
            <menu_icon></menu_icon>
            <supports>
                <title>1</title>
                <editor>1</editor>
            </supports>
            <rewrite>
                <enabled>1</enabled>
                <custom>normal</custom>
                <slug></slug>
                <with_front>1</with_front>
                <feeds>1</feeds>
                <pages>1</pages>
            </rewrite>
            <has_archive>1</has_archive>
            <show_in_menu>1</show_in_menu>
            <show_in_menu_page></show_in_menu_page>
            <show_ui>1</show_ui>
            <publicly_queryable>1</publicly_queryable>
            <can_export>1</can_export>
            <show_in_nav_menus>1</show_in_nav_menus>
            <query_var_enabled>1</query_var_enabled>
            <query_var></query_var>
            <permalink_epmask>EP_PERMALINK</permalink_epmask>
            <id>project</id>
            <__types_id>project</__types_id>
            <__types_title>Projects</__types_title>
            <hash>c8811f3219aeb556110bc38b05201338</hash>
            <checksum>c8811f3219aeb556110bc38b05201338</checksum>
        </type>
    </types>
</types>